<!DOCTYPE html>
<html>
<head>
	<title><%=t 'title' %></title>
  <meta name="description" content="Kit ^n^ Kate is a special kind of cartoon for little kids, packed with fun, adventure and important life lessons. It's a smart little show from some of the cartoonists and writers who used to create for Cartoon Network, Nick Jr, Disney Channel and who worked on Cut the Rope webisodes. Each episode, though only 5 minutes long (much shorter than long movies!), is actually edutainment that make kids learn through fun games. Kit ^n^ Kate is a nice animal animation that helps kids grow confident and believe in oneself." />
	<meta name="keywords" content="cartoon network nick jr Disney channel fun games cartoon Edutainment" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if @page.slug!="index" %>
	 <div class="header-bg">
	 	<%= link_to image_tag("logo-#{I18n.locale.to_s}.png", alt: "Kit n Kate"), root_path, class: 'logotip' %>
	 </div>
	<% end %>
<%= yield %>

</body>
</html>
